@import url('https://fonts.googleapis.com/css2?family=Delius+Unicase&family=Indie+Flower&family=Londrina+Shadow&family=Permanent+Marker&family=Poiret+One&family=Poller+One&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  width: 100%;
  font-family: "Delius Unicase", sans-serif !important;
  font-weight: 300;
  font-weight: bold;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
Header {
  background-color: #51b8b8;
}

.bg-myBlue {
  background-color: #51b8b8;
  border-bottom: solid #0d0d0d 2px;
}
#sign-up {
  background-color: #51b8b8;
  border: none;
  border-radius: 5px;
  color: #0d0d0d;
}
#sign-in {
  background-color: #51b8b8;
  border: none;
  border-radius: 5px;
  color: #0d0d0d;
}
